.idea/
.idea/vcs.xml
out/
web/Web/node_modules/
target/
*.map
*.iml
web/out.js
web/.tscache
web/node_modules
src/main/java/diagram/thriftgen/
src/main/java/robot/thriftgen/
src/main/java/sysconfigs/thriftgen/
src/main/java/user/thriftgen/
web/npm-debug.log
web/Web/authorization/gen-js
web/Web/robots/gen-js
